body{
    margin: 0;
    font-family: Roboto, serif;
}
div{
    display: block;
}
header{
    height: 72px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 10px 16px rgb(38 38 38 / 16%);
}
header>.container{
    height:100%;
}
header>.container>.row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 0px 8px;
}

.enter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.enter img{
    margin: 0px 0px 0px 27px;
}
.row button:hover{
    background-color: gray;
    cursor:pointer;
}
.row{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row button{
    border:1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 12px 21px;
    background-color: #fff;
}

.container{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}
.search_food{
    width: 100%;
    padding-top: 110px;
}
form{
    display: block;
    margin-top: 0em;
}
.search_food>input{
    width: 100%;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #757575;
    color: #626262;
    font: 1em Roboto, sans-serif;
}
input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding: 1px 2px;
}
.search_block>.container>.row{
    padding:0px 8px 0px 8px;
}
h2{
    font: 22px Roboto, sans-serif;
    line-height: 34px;
    padding: 56px 0px 16px 0px;
    margin: 0;
}
.card>img{
    width: 100%;
    margin-bottom: 16px;
}
.card>p>a {
    text-decoration: none;
    font: 1em Roboto, sans-serif;
    color: #1d1d1d;
    line-height: 24px;
}
.card>p{
    margin: 0;
}
.cost {
    font: 14px Roboto, sans-serif;
    line-height: 29px;
    color: #626262;
}
.wait_time {
    font: 13px Roboto, sans-serif;
    color: #1d1d1d;
    line-height: 21px;
}
footer{
    display: block;
    width:100%;
    background: #262626;
    color: #fff;
}
footer>.container>img{
    padding:56px 0px 40px 0px ;
}
footer>.container>hr{
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    size: 1px;
    margin: 0;
    margin-bottom: 32px;
}
.lang{
    height: 40px;
    width: 100%;
    background: #3B3B3B;
    border-radius: 2px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.lang>img{
    padding: 12px 16px 12px 16px;
}
select{
    position: relative;
    color: #fff;
    background-color: #3B3B3B;
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.social>p{
    margin-top: 33px;
}
.footer2>a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.download{
    display:flex;
    justify-content: center;
}
.download>a>img{
    margin: 8px 20px 40px 20px
}
.footer3>p{
    font-size: 11px;
    margin-top: 8px;
}
.btn-up{
    position: fixed;
    bottom: 24px;
    right: 16px;
}
